In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv('play_tennis.csv')
df.drop(columns=['day'],inplace=True)

In [3]:
df.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [4]:
# Problem 1
# Outlook-Sunny, Temp-Hot, Humidity-High, wind-weak
# Play or No Play?

In [5]:
# Solution
# P(Yes | Sunny, Hot, High, weak)=P(Sunny | Yes) * P(Hot | Yes) * P(High | Yes) * P(Weak | Yes)
# P(No | Sunny, Hot, High, weak)=P(Sunny | No) * P(Hot | No) * P(High | No) * P(Weak | No)

In [6]:
# Problem 2
# Outlook-Overcast, Temp-Cold, Humidity-Low, wind-weak
# Play or No Play?

In [7]:
#P(Yes | Overcast, Cold, Low, weak)=P(Overcast | Yes) * P(Cold | Yes) * P(Low | Yes) * P(weak | Yes)
#P(No | Overcast, Cold, Low, weak)=P(Overcast | No) * P(Cold | No) * P(Low | No) * P(weak | No)

In [8]:
#In training stage, Naive Bayes creates a lookup table  which it stores in a dictionary.Lookup table is a set of probabilities
#In Naive bayes, In backend it calculates probabilities & stores it

In [9]:
df['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [10]:
py=9/14
pn=5/14
print(py)#Prob(Yes)
print(pn)#Prob(No)

0.6428571428571429
0.35714285714285715

In [12]:
pd.crosstab(df['outlook'], df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [23]:
Pon=0           #Prob(Overcast/No)
Prn=2/5
Psn=3/5

Poy=4/9
Pry=3/9
Psy=2/9

In [14]:
pd.crosstab(df['temp'], df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [15]:
PCoolNo=1/5     #Prob(Cool/No)
PHotNo=2/5
PMildNo=2/5

PCoolYes=3/9           
PHotYes=2/9
PMildYes=4/9

In [17]:
pd.crosstab(df['humidity'], df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [18]:
PHighNo=4/5     #Prob(High/No)
PNormalNo=1/5

PHighYes=3/9   
PNormalYes=6/9

In [19]:
pd.crosstab(df['wind'], df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [20]:
PStrongNo=3/5     #Prob(Sreong/No)
PWeakNo=2/5

PStrongYes=3/9   
PWeakYes=6/9

In [26]:
# P(Yes | Sunny, Hot, High, weak)=P(Sunny | Yes) * P(Hot | Yes) * P(High | Yes) * P(Weak | Yes)
Pyes = py*Psy*PHotYes*PHighYes*PWeakYes 
print(Pyes)
# P(No | Sunny, Hot, High, weak)=P(Sunny | No) * P(Hot | No) * P(High | No) * P(Weak | No)
Pno = pn*Psn*PHotNo*PHighNo*PWeakNo
print(Pno)

0.007054673721340388
0.02742857142857143

In [27]:
#No play